.body{
	background-color: #f5f5f5;
}
.header{
	background-color: #011e29;
	color: white;
	padding: 5px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.container{
	max-width:500px;
	margin: 0 auto;
	padding: 10px;
}

.latest-news-section{
	width:25%;
	display: flex;
	background-color: white;
	justify-content: space-between;
	}
.main-news-section{
	width: 45%;
	display: flex;
	justify-content:space-between;
	}
.pictorial-news-section{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
ul{
	list-style:disc;
	paddding-left: 20px;
}